<h1>Songs#show</h1>
<p>Find me in app/views/songs/show.html.erb</p>

<h1><%= @song.name %></h1>
<p><%= link_to 'My Genre', genre_path(@genre) %></p><br>
<p><%= link_to 'My Artist', artist_path(@artist) %></p><br>
